<!doctype html>
<!-- name of tab -->
<title> Drink </title>
<!-- name of drink -->
<h1> Drink Name: {{drink_dictionary["name"]}} </h1>
<!-- image of drink -->
<img src={{drink_dictionary["img"]}}>
<!-- list ingredients -->
<h2> Ingredients: </h2>
<ul>
{% for ingredient in drink_dictionary["ingredients_list"] %}
<li> {{ingredient}} </li>
{% endfor %}
</ul>
<!-- instructions -->
<h2> Instructions:</h2>
<p> {{drink_dictionary["instructions"]}} </p>

<!-- navigation -->
<a class='btn btn-primary' href="{{url_for('random')}}"> ANOTHER DRINK! </a>
<a class='btn btn-primary' href="{{url_for('index')}}"> Home </a>
<a class='btn btn-primary' href="{{url_for('search')}}"> Search Drink </a>
