<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}">
    <title> Search Drink </title>
  </head>
  <body>
    <!-- buttons -->
    <a href="{{url_for('random')}}" id='submitbutton'>COCKTAIL SPINNER!</a>
    <h1> What drink do you fancy? </h1>
    <!-- search field -->
    <form action="/search" method="POST">
        <p>Search: <input type="text" name="Name"/></p>
        <p><input class='button' type="submit" value="GO" /></p>
    </form>
  </body>
</html>